.header{
    height: 39px;
    display: flex;
    justify-content: center;
}
.link{
    margin-left: 10px;
    color: #FED136;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;   
    text-transform: uppercase; 
}


.href{
    text-decoration: none;
}
.Serv{
    color: #222222;
    width: 1500px;
    height: 75px;   
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;



}
.Sevic{
margin-left: 700px;

}
.pos{
font-family: Roboto Slab;
font-size: 14px;
line-height: 16px;
margin-top: 100px;
letter-spacing: -0.35px;
width: 304px;
height: 56px;
color: #777777;
position: relative;
margin-left: -400px;
display: inline-block;
}
.span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
    color: #222222;
    display: flex;
    align-items: center;
    text-align: center;
}
.Circle{
position: absolute;
bottom: 30px;
left: 30px;
}
.C134{
position: absolute;
bottom: 50px;
left: 48px;
}
.c1{
    position: absolute;
    left: 52px;
}
.b{
margin-left: 100px;
}
.c{
    margin-left: 100px;
}