.container{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 39px;
    display: flex;
    justify-content: space-between;
}
.link{
    margin-left: 20px;
    color: #FED136;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 41px;   
    text-transform: uppercase; 
    display: inline-block;
}
.uli{
    display: flex;
    
}

.href{
    text-decoration: none;
}
.Serv{
    color: #222222;
    width: 1500px;
    height: 75px;   
    font-family: Montserrat;
    font-weight: bold;
    font-size: 40px;
    line-height: 75px;
    text-transform: uppercase;
display: flex;
justify-content: center;


}
.Sevic{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.pos{
font-family: Roboto Slab;
font-size: 14px;
line-height: 16px;
letter-spacing: -0.35px;
width: 304px;
color: #777777;
position: relative;
text-align: center;
}

.span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: -0.45px;
    color: #222222;
    display: flex;
    justify-content: center;
}
.rel{
    border: 3px solid #FED136;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: url("./Combined\ shape\ 134.png") no-repeat;
    background-position: center;
    margin: 0 auto;
    
}
.rel2{
    background: url("./Combined\ shape\ 132.png") no-repeat;
    background-position: center;
}
.rel3{
    background: url("./Combined\ shape\ 130.png") no-repeat;
    background-position: center;
}
.cen{
    display: flex;
    justify-content: center;
    align-items: center;
}